    <!--==========================================================-->
    <!--                     Navbar                               -->
    <!--==========================================================-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <!--Creates hamburger when going into mobile view-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/player">Players</a></li>
            <li><a href="/team">Teams</a></li>
            <li><a href="/division">Divisions</a></li>
            <li class = "active"><a href="/positions">Positions</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="col-lg-12 text-center"> 
        <h1>NFL Database</h1>
        <hr>
    </div>
    
      <!--==================-->
      <!--Add Position Form -->
      <!--==================-->
      <div class="content-container" style="margin: 20px 30%;">
        <div class="col-lg-12 text-left"> 
            <legend> Add a Position</legend> 
            <form action="/positions" method="POST">
                <label>Position Name: <input type="text" name="name" placeholder="Position name" required> </label>
                <label> Position Type: <input type="text" name="type" required></label>
                <button class="add" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Add Position</button>
              </form>
          </div>
        </div>
    
        <!--===================-->
        <!--  Positions Table  -->
        <!--===================-->
        <div class="content-container" style="justify-content: center;"> 
        <div class="content-container col-lg-9 text-left scrollTable"> 
  
          <table class= "table table-bordered">
            <caption>Positions Table</caption>
            <thead> 
                <th>Name</th> 
                <th>Type</th> 
            </thead> 
            <tbody> 
                {{#each positions}} 
                <tr> 
                    <td>{{name}}</td> 
                    <td>{{type}}</td> 
                    <td><button class="delete" onclick="deletePosition({{id}})"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button></td>
                    
                    <form action="/updatePositions" method="GET">
                      <input type="hidden" name="id" value = "{{this.id}}">
                      <td><button type="submit" class="update">Update</a></button></td>
                    </form>
                </tr> 
                {{/each}} 
              </tbody>
            </table>
        </div>
        </div>
        
        
      <!--======================================-->
      <!--Add Position-Player Relationship Form -->
      <!--======================================-->
      <div id="position_player" class="content-container" style="margin: 20px 30%;">
        <div class="col-lg-12 text-left"> 
            <legend> Add a Position to a Player</legend> 
            <form action="/position_player" method="POST">
                <p>
                  <!--Show names of all players in a dropdown menu-->
                  <label>Player: <select name="player">
                    {{#each players}}
                    <option value="{{id}}">{{fname}} {{lname}}</option>
                    {{/each}}
                  </select>
                  </label>
                  <!--Show names of all positions in a dropdown menu-->
                  <label>Position: <select name="position">
                    {{#each positions}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                  </select>
                  </label>
                </p>
                <button class="add" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Add Position to Player</button>
              </form>
          </div>
        </div>
            
        <!--===========================-->
        <!--  Positions Players Table  -->
        <!--===========================-->
        <div class="content-container" style="justify-content: center;"> 
        <div class="content-container col-lg-9 text-left scrollTable"> 
  
          <table class= "table table-bordered">
            <caption>Position-Player Table</caption>
            <thead> 
                <th>Player</th> 
                <th>Position</th> 
            </thead> 
            <tbody> 
                {{#each player_position}} 
                <tr> 
                    <td>{{playFname}} {{playLname}}</td> 
                    <td>{{posName}}</td> 
                    <td><button class="delete" onclick="deletePositionPlayer({{id}})"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button></td>
                    
                    <form action="/updatePositionPlayer" method="GET">
                      <input type="hidden" name="id" value = "{{this.id}}">
                      <td><button type="submit" class="update">Update</a></button></td>
                    </form>
                </tr> 
                {{/each}} 
              </tbody>
            </table>
        </div>
        </div>
    <!--==========================================================-->
    <!--                     Footer                               -->
    <!--==========================================================-->
    <footer class="container-fluid text-center">
      <p>CS340 Project | NFL Database | Designed by Tiffany Warner and Shane Klumpp </p>
    </footer>
    